
/** Micro Reset
 ---------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

/** Button Reset
 ---------------------------------------------------------*/

.btn::-moz-focus-inner {
  border: 0;
  padding: 0
}

.btn {
  width: auto;
  border: 0 none;
  margin: 0;
  padding: 0;
  background: transparent;
  overflow: visible;
  font: inherit;
  outline: none;
  #vertical-align: middle; /* IE6,IE7 */
}

/** Canvas
 ---------------------------------------------------------*/


/**
 * 1. Prevent font-size changes in
 *    landscape orientation on iOS
 */

html,
body {
  height: 100%;
  font-family: 'helvetica neue';
  line-height: 1.4;
  color: #444;
  background: #FFF;
}

html.menu-opened,
html.menu-opened body {
  overflow-x: hidden
}

body {
  -webkit-text-size-adjust: none; /* 1 */
}

/** Titles
 ---------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  line-height: 1;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

img {
  display: block;
}

/** Site
 ---------------------------------------------------------*/

.site {
  width: 100%;
  min-height: 100%;
  font-size: 14px;
  background: #fff;
}

/**
 * smallscreen
 */

@media (max-width: 600px) {
  .site {
    font-size: 12px;
  }
}

/** Site Sidebar
 ---------------------------------------------------------*/

.site_sidebar {
  position: fixed;
  left: 0; top: 0;
  width: 206px;
  height: 100%;
  background: #F6F6F6;
  text-align: left;
  overflow: auto;
}

.site_sidebar > .inner {
  min-height: 100%;
  position: relative;
}

.site_sidebar ul {
  list-style-type: none;
}

/**
 * 1. .sidebar_contact height
 */

@media all and (max-width: 600px) {
  .site_sidebar > .inner {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 76px; /* 1 */
  }
}

/** Sidebar Contact
 ---------------------------------------------------------*/

.sidebar_contact {
  position: absolute;
  right: 0; bottom: 0;
  padding: 20px 24px;
  font-size: 13px;
  font-family: Georgia, serif;
  font-style: italic;
  text-align: right;
  color: #9C9C9C;
}

.sidebar_contact a:hover {
  color: #ed1345;
}

/** Logo
 ---------------------------------------------------------*/

.site_logo {
  display: block;
  position: fixed;
  right: 0; top: 0;
  z-index: 1;
  width: 80px;
  height: 80px;
  margin: 2em;
  opacity: 0.9;

  /*-moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);*/
       /*box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);*/
}

.site_logo img {
  width: 100%;
}

/**
 * hover
 */

.site_logo:hover {
  opacity: 1;
}

/**
 * smallscreen
 */

@media all and (max-width: 600px) {
  .site_logo {
    position: absolute;
    width: 40px;
    height: 40px;
  }
}

/** Nav
 ---------------------------------------------------------*/

.nav {
  padding-top: 54px;
  font-size: 18px;
  font-weight: bold;
  font-weight: ;
  text-align: right;
}

/**
 * smallscreen
 */

@media all and (max-width: 600px) {
  .nav {
    padding-top: 0;
  }
}

.nav a {
  text-decoration: none;
  color: #333;
}

/** Nav Sub Menus
 ---------------------------------------------------------*/

.nav li a {
  display: block;
  height: 44px;
  line-height: 44px;
  padding: 0 28px;
  border-top: solid 1px #e9e9e9;
}

/**
 * last-child
 */

.nav li:last-child a {
  border-bottom: solid 1px #e9e9e9;
}

/**
 * hover
 */

.nav li a:hover,
.nav li a:active {
  background: rgba(0,0,0,0.03);
}

/**
 * current
 */

.home li.home a,
.services li.services a,
.clients li.clients a,
.stories li.stories a,
.whoweare li.whoweare a,
.contact li.contact a {
  color: #ed1345;
  border-left: solid 4px #ed1345;
  /*background: rgba(0,0,0,0.03);*/
}

/** Site Content
 ---------------------------------------------------------*/

.site_content {
  position: relative;
  min-height: 100%;
  margin-left: 206px;
  background: #fff;
  -moz-box-shadow:
    -1px 2px 10px 0px rgba(0,0,0,0.05),
    0px 1px 1px 0px rgba(0,0,0,0.23);
  box-shadow:
    -1px 2px 10px 0px rgba(0,0,0,0.05),
    0px 1px 1px 0px rgba(0,0,0,0.23);
  -webkit-transition: -webkit-transform 300ms;
  transition: transform 300ms;
}

/**
 * smallscreen
 */

@media (max-width: 600px) {
  .site_content {
    margin-left: 0;
    -webkit-transform: translate3d(0, 0, 1px);
    transform: translate3d(0, 0, 1px);
  }

  .menu-open .site_content {
    -webkit-transform: translate3d(206px, 0, 1px);
    transform: translate3d(206px, 0, 1px);
  }
}

/** Page
 ---------------------------------------------------------*/

.page {
  position: relative;
  padding: 2em;
  color: #444;
}

.page > .inner {
  max-width: 650px;
  padding-top: 28px;
  padding-right: 124px;
}

/**
 * smallscreen
 */

@media (max-width: 600px) {
  .page > .inner {
    padding-top: 21px;
    padding-right: 0;
  }
}

.page_content > * {
  margin-bottom: 28px;
}

@media (max-width: 600px) {
  .page_content > * {
    margin-bottom: 24px;
  }
}

/** Headings
 ---------------------------------------------------------*/

.page h1,
.page h2,
.page h3,
.page h4,
.page h5,
.page h6 {
  margin-bottom: 28px;
  color: #333;
}

.page h2 {
  font-size: 1.2em;
  font-weight: bold;
}

.page p,
.page_content ul {
  font-size: 1.285em; /* 18px */
  margin-top: -0.25em;
  line-height: 1.55;
}

/** Page Title
 ---------------------------------------------------------*/

h1.page_title {
  margin-top: -0.15em;
  font-size: 2.71em; /* 38px */
  margin-bottom: 28px;
  font-weight: bold;
}

/**
 * smallscreen
 */

@media all and (max-width: 600px) {
  h1.page_title {
    margin-right: 30px;
    font-size: 21px;
  }
}

/** Menu Button
 ---------------------------------------------------------*/

.page_title button {
  display: none;
  font-size: 26px;
  margin-right: 18px;
  color: #ed1345;
}

/**
 * smallscreen
 */

@media (max-width: 600px) {
  .page_title button {
    display: inline;
    vertical-align: middle;
  }
}

/** Intro Paragraph
 ---------------------------------------------------------*/

.page p:first-of-type {
  margin-top: 0;
  padding: 1em 0;
  font-size: 1.5em; /* 21px */
  line-height: 1.4;
  border: solid 1px #eee;
  border-width: 1px 0;
  font-style: italic;
  font-family: Georgia, serif;
}

/** Bulleted Lists
 ---------------------------------------------------------*/

.page_content ul {
  margin-left: 1em;
}

/** Page Links
 ---------------------------------------------------------*/

.page_content a {
  color: #F03E55;
}

.page_content a:hover {
  text-decoration: underline;
}

.page_content {
  margin-bottom: 28px;
}

/** Footer
 ---------------------------------------------------------*/

.footer {
  color: #CCC;
  font-size: 14px;
  /*font-style: italic;*/
  /*font-family: georgia;*/
}

/** Footer Contact
 ---------------------------------------------------------*/

.footer ul {
  margin-bottom: 28px;
  list-style: none;
  line-height: 1;
}

.footer img {
  width: 20px;
}

.footer li {
  /*display: inline-block;*/
  margin-right: 1em;
  font-family: Georgia, serif;
  font-style: italic;
}

.footer_nav {
  display: none;
  font-size: 15px;
  /*padding-bottom: 20px;*/
  /*border-bottom: solid 1px #eee;*/
}

.footer_nav a {
  /*color: #F03E55;*/
}

.footer a:hover {
  color: #F03E55;
  /*text-decoration: underline;*/
}

.footer_contact {
  /*display: none;*/
  /*border-top: solid 1px #eee;*/
}

.footer li {
  /*display: inline-block;*/
}

.footer li {
  margin-bottom: 12px;
}

.footer_contact .icon {
  display: none;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 1.3em;
}

.footer_contact .text {
  display: inline-block;
  vertical-align: middle;
}

.footer_contact .icon-phone {
  font-size: 1.6em;
}

.footer_contact .icon-twitter {
  font-size: 1.5em;
}

.footer nav {

}

.footer nav a {
  display: block;
}

/** Icons
 ---------------------------------------------------------*/

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?-d6j1hh');
  src:url('fonts/icomoon.eot?#iefix-d6j1hh') format('embedded-opentype'),
    url('fonts/icomoon.woff?-d6j1hh') format('woff'),
    url('fonts/icomoon.ttf?-d6j1hh') format('truetype'),
    url('fonts/icomoon.svg?-d6j1hh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gear:before {
  content: "\f013";
}
.icon-home:before {
  content: "\f015";
}
.icon-book:before {
  content: "\f02d";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-comments:before {
  content: "\f086";
}
.icon-phone:before {
  content: "\f095";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-quote-left:before {
  content: "\f10d";
}
