/*
	File         : blanco3kolom/css/basis.css
	License      : GNU/GPL-licentie http://www.gnu.org/licenses/gpl.html
	CreationDate : 2-7-12
	Author       : Rob Ypma | meerinvormgeving 
	AuthorUrl    : http://www.meerinvormgeving.nl
*/

