<div class="footer">

<!--   <div class="logo-type">
    <img src="{{ site.baseUrl }}/images/logo.svg" />
    <span>Page Consulting</span>
  </div> -->

<!--   <ul class="footer_contact">
    <li>
      <a href="mailto:info@pageconsulting.co.uk">
        <span class="icon icon-envelope"></span>
        <span class="text">tony@pageconsulting.co.uk</span>
      </a>
    </li>
    <li><a href="tel:+442089431690"><span class="icon icon-phone"></span><span class="text">+44(0) 208 943 1690</span></a></li>
    <li><a href="http://twitter.com/leaderscreate"><span class="icon icon-twitter"></span><span class="text">Follow on Twitter</span></a></li>
  </ul> -->

  <ul class="footer_nav">
    <li><a class="articles-button" href="/"><i class="icon-back"></i> Back to Page Consulting</a></li>
  </ul>
</div>
