<div class="footer">
  <ul class="footer_nav">
    <li><a href="{site.baseUrl}/home">Home</a></li>
    <li><a href="{site.baseUrl}/services">Services</a></li>
    <li><a href="{site.baseUrl}/stories">Stories</a></li>
    <li><a href="{site.baseUrl}/clients">Clients</a></li>
    <li><a href="{site.baseUrl}/who-we-are">Who we are</a></li>
  </ul>

  <ul class="footer_contact">
    <li>
      <a href="mailto:tony@pageconsulting.co.uk">
        <span class="icon icon-envelope"></span>
        <span class="text">tony@pageconsulting.co.uk</span>
      </a>
    </li>
    <li><a href="tel:+442089431690"><span class="icon icon-phone"></span><span class="text">+44(0) 208 943 1690</span></a></li>
    <li><a href="http://twitter.com/leaderscreate"><span class="icon icon-twitter"></span><span class="text">Follow on Twitter</span></a></li>
  </ul>
</div>