<ul class="share">
  <li>Share</li>
  <li><a href="https://www.facebook.com/sharer/sharer.php?" target="_blank">
    <i class="icon-facebook"></i> Facebook</a></li>
  <li><a href="https://twitter.com/intent/tweet?text={{ page.title }}&via=blogjot&url={{ site.url }}{{ page.url }}" target="_blank"><i class="icon-twitter"></i> Twitter</a></li>
 <li><a href="mailto:enter-email-here?subject=Thought you might like this...&body={{ page.title }} at http://www.pageconsulting.co.uk/jot"><i class="icon-mail"></i> Email</a></li>
</ul>