<ul class="share">
  <li>Share</li>
  <li><a href="https://www.facebook.com/sharer/sharer.php?" target="_blank">
    <i class="icon-facebook"></i> Facebook</a></li>

    <li><a href="https://twitter.com/intent/tweet?text={{ page.title }} at &via=BlogJot&url=[sub]" onclick="this.href = this.href.replace('[sub]',window.location)" target="_blank"><i class="icon-twitter"></i> Twitter</a></li>

  <li><a href="mailto:enter-email-here?subject=Thought you might like this..&body={{ page.title }} at [sub]" onclick="this.href = this.href.replace('[sub]',window.location)"><i class="icon-mail"></i> Email</a></li>

</ul>