<div class="site_sidebar">
  <div class="inner">
    <ul class="nav {{ page.id }}">
      <li class="home"><a href="{{ site.baseurl }}/">Home</a></li>
      <li class="services"><a href="{{ site.baseurl }}/services">Services</a></li>
      <li class="whoweare"><a href="{{ site.baseurl }}/who-we-are">Who we are</a></li>
      <li class="stories"><a href="{{ site.baseurl }}/stories">Stories</a></li>
      <li class="clients"><a href="{{ site.baseurl }}/clients">Clients</a></li>
    </ul>

    <ul class="sidebar_contact">
      <li><a href="tel:+442089431690"><span class="text">+44(0) 208 943 1690</span></a></li>
      <li><a href="mailto:info@pageconsulting.co.uk"><span class="text">tony@pageconsulting.co.uk</span></a>
      </li>
    </ul>
    </div>
</div>
