<div class="logo"><img src="{{ site.baseurl}}/logopc.svg" alt="Page Consulting"></div>
<ul class="nav page-{{ page.id }} section-{{ page.section }}">

  <li class="home"><a href="{{ site.baseurl }}/">Home</a></li>
  <li class="services"><a href="{{ site.baseurl }}/services">Services</a></li>
  <li class="stories"><a href="{{ site.baseurl }}/stories">Stories</a></li>
  <li class="clients"><a href="{{ site.baseurl }}/clients">Clients</a></li>
  <li class="whoweare"><a href="{{ site.baseurl }}/who-we-are">Who We Are</a></li>
</ul>

<ul class="nav page-{{ page.id }} section-{{ page.section }}"></font>
	
	<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-size: 80%; color:#4C5366; padding:2px 5px; border-style:solid;border-width:0px; valign:"middle";}
</style>

<table class="tg">
  <li>
  	<tr></tr>
  	<tr></tr>
    <td class="tg-031e"><img src="{{ site.baseurl}}/images/mail-icon.png" width="28" height="20" align="right" alt="Send email"></td>
    <td class="tg-031e"><a href="mailto:info@pageconsulting.co.uk" target="_blank" style="text-decoration:none;">Send email</a></td>
  </tr></li>
  <li><tr>
    <td class="tg-031e"><img src="{{ site.baseurl}}/images/phone-icon.png" width="20" height="18" align="right" alt="Call" border="0"></td>
    <td class="tg-031e"><a href="{{ site.baseurl}}/contact" target="_blank" style="text-decoration:none;">Call</td>
  </tr></li>
  <li><tr>
    <td class="tg-031e"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="25" height="20" align="right" alt="View Tony Page's LinkedIn profile" border="0"></td>
    <td class="tg-031e"><a href="http://uk.linkedin.com/in/tonypage" target="_blank" style="text-decoration:none;">View profile</a></td>
  </tr></li>
</table>


</ul>