/*
  License     : GNU/GPL-licentie http://www.gnu.org/licenses/gpl.html
  creationDate : 24 oktober 2010
  author      : Web-effect | Joomla! websites & cursussen | Dordrecht
  authorUrl   : http://www.web-effect.nl
====================================================================================
  RESET STIJLEN
  In dit bestand staat de reset stylesheet van Eric Meyer. http://meyerweb.com/eric/tools/css/reset/
  Deze stylesheet zorgt er voor dat alle HTML-elementen worden gereset, zodat ze in alle 
  browsers (zelfs IE) nagenoeg gelijk staan. Hiermee voorkomen we de meeste problemen die 
  ontstaan tussen browsers bij het maken van CSS.
================================================================================ */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,th,td { margin:0; padding:0;} 
table { border-collapse:collapse; border-spacing:0; } 
address,caption,cite,code,dfn,th,var { font-style:normal; font-weight:normal; } 
ul { list-style:none; } 
caption,th { text-align:left; } 
q:before,q:after { content:''; } 
abbr,acronym { border:0; }
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
p { line-height: 18px; }

/* 
====================================================================================
  BASIS STIJLEN
  De basis van een Joomla! template
================================================================================ */

html {
  height: 100%; 
  margin-bottom: 1px;
}

body {
  background-image: url(../images/page_bg3.jpg);
  background-repeat: repeat-x;
  font-size: 100%;/*Rob was 12px*/
  font-family: Arial,Helvetica,sans-serif;
  color: #333333;
  background-color: #EDECD7;
}

#wrapper {
  width: 980px;
  padding:0px;
  overflow:hidden;
  position: relative;
  background-image: url(../images/text_bg.png);
  background-repeat: repeat-y;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  }
  
img {
  border: 0 none;
  }
.item-page p img{
  border-style: solid !important;
  border-width: 8px !important;
  border-color: #FFFFFF !important;
  
  }

fieldset
{
        margin:10px 00px ;
        padding:15px 0px;
        border:solid 1px;
}


/* typografie */


p { /* zet deze weer terug naar default */
  margin: 1.12em 0;
  /*font-size: 100%;*/
  }

/*Toevoeging Rob*/
em {
  font-style: italic;
  }

strong {
  font-weight: bold;
  color: #7E7B4B;
}

h1 {
color: #7E7B4B;
font-size: 112%;
font-weight: bold;
  }
h2  {  
  color: #7E7B4B;
  font-size: 112%;
  /*padding: 5px 0px 5px 0px;*/
  font-weight: bold;
  text-transform: none;
}

h3 {
  color: #7E7B4B;
  font-size: 106%;
 /* padding: 5px 0px 5px 0px;*/
  font-weight: bold;
  text-transform: none;
}  

/* einde typografie */

    
/* 
basis lijsten 
________________________________________________________ 
*/

li {
  line-height: 18px;
  padding-left: 15px;
  padding-top: 0px;

}

ul {
  margin: 5px;
  padding: 0;
  list-style: none;
  }


/* 
basis links 
________________________________________________________ 
*/

a { 
  color: #ED8F1F;
  text-decoration: none; 
}

a:hover {  
color: #BD7824;
}

/* 
menulinks LEFT MENU
________________________________________________________ 
*/

#leftmargin ul.menu li
{
  border:0;
  background: url(../images/nav_level_1.gif) repeat-x;
  border:solid 0px #eee;
}

#leftmargin ul.menu li {
  border-bottom:solid 1px #ddd;
  padding-left: 0px;
  padding-top: 0px;
  height: 100%;
}

#leftmargin ul.menu li a
{
  display:block;
  font-size: 90%;
  font-weight: bold;
  color: #7E7B4B;
  padding-left: 14px;
  line-height: 22px;
}

#leftmargin ul.menu li a:link,
#leftmargin ul.menu li a:visited
{
  background-image: url(../images/karo.gif);
  background-repeat: no-repeat;
  background-position: 0px 10px;
}

#leftmargin ul.menu li a:hover {
  color: #898071;
}

#leftmargin ul.menu li span {
    display:block;
  font-size: 90%;
  font-weight: bold;
  color: #7E7B4B;
  padding-left: 14px;
  line-height: 22px;
  background-image: url(../images/karo.gif);
  background-repeat: no-repeat;
  background-position: 0px 10px;
 
}

#leftmargin ul.menu li a._purple {
  color: #806545;
  background-color: #FFEC58;
  background: url(../images/bg_menu2.gif);
  background-repeat: no-repeat;
  border:solid 0px #eee;
}

/* 
menulinks RIGHT MENU
________________________________________________________ 
*/

#rightmargin ul.menu li
{
  border:0;
  background: url(../images/nav_level_1.gif) repeat-x;
  border:solid 0px #eee;
}

#rightmargin ul.menu li {
  border-bottom:solid 1px #ddd;
  padding-left: 0px;
  padding-top: 0px;
  height: 100%;
}

#rightmargin ul.menu li a
{
  display:block;
  font-size: 90%;
  font-weight: bold;
  color: #7E7B4B;
  padding-left: 14px;
  line-height: 22px;
}

#rightmargin ul.menu li a:link,
#rightmargin ul.menu li a:visited
{
  background-image: url(../images/karo.gif);
  background-repeat: no-repeat;
  background-position: 0px 10px;
}

#rightmargin ul.menu li a:hover {
  color: #898071;
}

#rightmargin ul.menu li span {
    display:block;
  font-size: 90%;
  font-weight: bold;
  color: #7E7B4B;
  padding-left: 14px;
  line-height: 22px;
  background-image: url(../images/karo.gif);
  background-repeat: no-repeat;
  background-position: 0px 10px;
 
}

#rightmargin ul.menu li a._purple {
  color: #806545;
  background-color: #FFEC58;
  background: url(../images/bg_menu2.gif);
  background-repeat: no-repeat;
  border:solid 0px #eee;
}



/*================================================================================
  HEADER
================================================================================ */

#header  {
  /*position:relative;*/
  height : 180px;
  width : 980px;
  margin-left: auto;
  margin-right: auto;
  z-index:1;
  background-image: url(../images/header_04.jpg);
  background-repeat: no-repeat;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#sitename {
  font-family:Geneva, Arial, Helvetica, sans-serif;
  font-size: 29px;
  color: #7E7B4B;
  text-decoration: none;
  font-weight: bold;
  width: 920px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left:240px;
  float: left;
  z-index:5;
}

#subsitename {
  font-family:Geneva, Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #ED8F1F;
  text-decoration: none;
  font-weight: bold;
  margin-left:240px;
}

#balk {
  position:relative;
  width: 940px;
  height: 25px;
  z-index:1;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

#balk .pathway {
  width: 920px;
  font-size: 9pt;
  color: #000000;
  text-decoration: none;
  font-weight:bold;
  margin: 5px;
}

#search { float: right; width: 200px; }
/* 
====================================================================================
  LEFTMARGIN
  Linkerkolom
================================================================================ */

#leftmargin {
   width: 195px; 
   margin: 10px 2px 5px 20px;
   float: left;
   display: inline;
}

/*=================================================================================
  TOPMENU
================================================================================ */

#navr {
  height: 28px;
  border: 1px solid #EFEFEF;
  width: 958px;
  background-image: url(../images/bg_topmenu.jpg);
  background-repeat: repeat-x;
  float: left;
  margin-left: 10px;
  }

#nav {
  z-index: 10;
  position: relative;
  }

/* topmenu main items*/
#nav ul.menu {
  margin: 0;
  margin-left: 220px;
  padding: 0;
  list-style: none;
  }

#nav ul.menu > li {
  float: left;
  padding: 0;
  position: relative;
  }

#nav ul.menu > li a,
#nav ul.menu > li span {
  display: block;
  padding: 0 15px 0 15px;
  margin: 0;
  line-height: 28px;
  color: #7E7B4B;
  text-decoration: none;







  font-size: 90%;
  font-weight: bold;
  }

#nav ul.menu > li.active > a,
#nav ul.menu > li.active > span {
  background: url(../images/nav_a.jpg) 0 0 repeat-x;
  color: #898071;/*grey*/
  }

#nav ul.menu > li > a:hover,
#nav ul.menu > li > span:hover {
  text-decoration: none;
  color: #BD7824;/*gold*/
  }

/* topmenu sub items */
#nav ul.menu li ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 10px;/*positions submenu according to main item*/
  top: 28px;/*positions submenu according to main item*/
  display: none;
  }

#nav ul.menu li:hover ul {
  display: block;
  }

#nav ul.menu li li {
  padding: 0 10px;
  width: 140px;
  }

#nav ul.menu li ul li a {
  padding: 0;
  padding-left: 10px;
  background: #F2F2F2;
  border-bottom: 1px dotted #9F9B58;
  color: #7E7B4B;
  }

#nav ul.menu li ul li a:hover,
#nav ul.menu li ul li.active a {
  background: #DCDCDC;
  color: #BD7824;
  }

/* =============================================================================
  MAINBODY
  Tekstgedeelte van Joomla!
================================================================================ */

#mainbody {
  width: 505px;
  margin: 5px;
  float: left;
  padding-left: 18px;
  padding-right: 8px;
  padding-bottom: 20px;
  /*font-size: 85%;*/
}  

#mainbody ul {
list-style-type: square;
padding:10px;
}

#mainbody ol {
padding:20px;
}

#mainbody li {
padding:0;
}

/* 
Content headings en titles
________________________________________________________ 
*/

.componentheading  {
  font-size: 125%;  
  color: #CCCCCC;
  padding: 5px 0px 5px 0px;
  margin: 0px;
  font-weight: bold;
}

.contentpaneopen {
  width: 100%;
}

.contentheading {
  font-size: 112%;
  padding: 5px 0px 5px 0px;
  font-weight: bold;
  text-transform: none;
}

.frontpageheader {  
  color: #000000;
  font-size: 112%;
  padding: 10px 0px;
  text-align: center;
  font-weight: bold;
}

.contentpagetitle {
  font-size: 112%;
  font-weight: bold;
  
}

.contentdescription {
  font-size: 112%;
  color: #000000;
}

.createdate {
  color: #dee1d7; 
  font-family: Arial, Helvetica, sans-serif; 
  }

.modifydate {
  color: #dee1d7; 
  font-family: Arial, Helvetica, sans-serif; 
  }
  
.small {
  font-size: 75%; 
  color: #CCCCCC;
  text-decoration: none;
  font-weight: normal;
}

/* 
Voor content item titels met een link in plaats van een lees meer link onder het artikel 
________________________________________________________ 
*/

a.contentpagetitle:link, a.contentpagetitle:visited {
  /*font-size: 12pt;*/
  font-weight: normal;
  margin: 0px;
  color: #000000;
  text-decoration:none;
  }

a.contentpagetitle:hover {
  /*font-size: 12pt;*/
  font-weight: normal;
  margin: 0px;
  color: #CCCCCC;
  }
  
/* 
overige Mainbody links 
________________________________________________________ 
*/

a.blogsection:link, a.blogsection:visited {
  /*font-size: 10pt;*/
  color: #000000;
  text-decoration:underline;
}

a.blogsection:hover {
  /*font-size: 10pt;*/
  color: #CCCCCC;
}

a.weblinks:link, a.weblinks:visited {
  /*font-size: 10pt;*/
  color: #000000;
  font-weight: bold;  
  padding: 0px 10px 0px 10px;
}

a.weblinks:hover {
  /*font-size: 10pt;*/
  color: #CCCCCC;
  font-weight: bold;  
  padding: 0px 10px 0px 10px;
}

a.readon:link, a.readon:visited {
  /*font-size: 10pt;*/
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  padding: 0px 10px 0px 5px;  
  }

a.readon:hover {
  /*font-size: 10pt;*/
  font-weight: bold;
  text-decoration: underline;
  color: #CCCCCC;
  padding: 0px 10px 0px 5px;  
}

.category {
  /*font-size: 10pt;*/
  color: #000000; 
  font-weight: bold;
  line-height:1.4em; 
  padding-right:10px; 
}

a.category:link, a.category:visited {
  text-align: left;
  /*font-size: 10pt;*/
  font-weight: bold;
  color: #000000;
   text-decoration:underline;
}

a.category:hover {
 /* font-size: 10pt;*/
  font-weight: bold;
  color: #CCCCCC;
   text-decoration:underline;
}


/* 
Pagina navigatie
________________________________________________________ 
*/

.pagenavcounter {
  padding-bottom: 12px;
}
.pagination li {
  list-style: none;
  float: left;
  margin-left: 5px;
  }
.pagination li a {
  text-decoration: none;
  color: #116E8F !important;
  }

a.pagenav, a.pagenav:visited { 
  /*font-size: 10pt;*/
  color: #000000;
  text-decoration: underline;
}

a.pagenav:hover {
  /*font-size: 10pt;*/
  color: #000000;
}

.pagenavbar {
  
}

/* 
Artikel waardering
________________________________________________________ 
*/

.content_rating {
  font-weight: normal;
  /*font-size: 10pt; */
}

.content_vote {
  font-weight: normal;
  /*font-size: 10pt; */
}

/* 
Standaard Joomla! meldingen 
________________________________________________________ 
*/

.message {
  font-weight: bold;
  /*font-size : 10pt;*/
  color : #ff6600;
  text-align: center;
}


/* 
====================================================================================
  RIGHTMARGIN
  Rechterkolom
================================================================================ */

#rightmargin {
  width: 195px;
  float: left;
  display: inline;
  margin-top: 10px;
  margin-right: 22px;
  margin-bottom: 5px;
  margin-left: 2px;
}

/* 
====================================================================================
  FOOTER
================================================================================ */

#footer  {
  position:relative;
  text-align: left;
  width: 980px;
  height: 60px;
  /*z-index:1;*/
  clear: both;
  /*background-image: url(../images/footer_bg.png);
  background-repeat: no-repeat;*/
}

#footer .tekst {
  text-align: center;
  padding: 10px;
  font-size: 75%;
  color: #9B9B9B;
  margin-left: 0px;
}

a.footer:link, a.footer:visited {
  font-size: 75%;
  text-decoration: none; 
  color: #9B9B9B;
  font-weight: normal;
}

a.footer:hover {
  font-size: 75%;
  text-decoration: underline; 
  color: #000000;
  font-weight: normal;
}

/* 
====================================================================================
  MODULES
  Opmaak van de modules in de linker- of rechterkolom
================================================================================ */

.moduletable {
  /*font-size: 9pt;*/ 
  margin: 0px;
  font-weight: normal;
}

table.moduletable td  {
  padding: 0 0 0 4px;

}

div.moduletable_whois {
  padding-left: 0px;
  margin-bottom: 0px;
  text-align: center;
}


.moduletable_menu h3 {
  /*font-size: 7pt;*/
  background-color: #FFFFFF;
  color: #000000;
  width: 191px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 3px 0 3px 5px;
  text-align: left;
  border: 0px solid #000000;
}

.poll {
  font-size: 75%;
  color: #2668D3;
  line-height: 20px;
  text-align: center;
  border: 0px solid #000000;
}

div.module_spreuk {
  background-color: #E9E8D0;
}
 
div.module_spreuk div {
  /*background: url(../images/bottomleft.png) 0 100% no-repeat;*/
  margin-bottom: 5px;
  border: 0;
}
 
div.module_spreuk div div{
  /*background: url(../images/topright.png) 100% 0 no-repeat;*/
}
 
div.module_spreuk div div div {
 /* background: url(../images/bottomright.png) 100% 100% no-repeat;*/
}

/* 
====================================================================================
  FORMULIEREN
================================================================================ */

form {
  margin: 10px 5px 10px 5px;
  padding: 0px;
}

.inputbox {
  font-size: 75%;
 /* border: 1px solid #000000;*/
  width: auto;
  padding: 22px;
  margin-right: 5px;
}

.button {
  font-size: 75%;
  border: 1px solid #000000;
  padding: 0px;
  margin: 14px;
  font-weight: bold;
  color: #000000;
  background-color: #FFFFFF;
}

/* 
====================================================================================

  Joomla! overig
================================================================================ */

.sectiontableentry1 {
  font-size: 75%;
  color: #000000;
  background-color: #EFF0F0;
  padding-right: 5px;
}
  
.sectiontableentry2 {
  font-size: 75%;
  color: #000000;
  background-color: #F6F6F6;
  padding-right: 5px;
}

.sectiontableheader {
  font-size: 75%;
  font-weight: bold;
  background-color: #cccccc;
  color: #fff;
  padding-right: 5px;
  }

.newsfeedheading {
  /*font-size: 12pt;*/
  color: #505050;  
        }

.newsfeeddate {
  /*font-size: 10pt;*/
  color: #505050; 
}

.searchintro  {
  /*font-size: 12pt; */
}

.adminform  {
 /* font-size: 10pt; */
}

.contentpane {
  /*font-size: 12pt; */
}

.newsflash {
 /* font-size: 11pt;*/
  text-align: justify;
  color: #435374;
  padding-top: 10px;
}
  
.contact {
  /*font-size: 12pt;*/ 
}

/* 
====================================================================================
  Aanvulling voor Joomla! 1.6
================================================================================ */

table.category{
border: 0;
width: 100%;
text-align: left;
}

table.category a {
font-style:normal;
font-weight:normal;
}

table.category th,table.category td{
padding:2px 6px;
}

table.category thead{
background:#EEE;
}

.jcat-children ul,.jcat-children li{
margin:0;
list-style:none;
}

.jcat-children li a{
background:url(../images/bullet_green_arrow.png) no-repeat 0 12px;
display:block;
padding:5px 5px 5px 15px;
font-size:0.9em;
}

/* Print, PDF, Email buttons */

.actions{
margin:0;
}

.actions li{
list-style: none;
display:inline;

float:right;
}

/* Login formulier*/

label {
  margin: 14px;
  }
  
p#form-login-username label,
p#form-login-password label {
  width: 160px;
  display:block;
}

p#form-login-remember label {
  font-size: .9em;
  font-weight: normal;
  line-height: 25px;
  padding: 22px;
}

p#form-login-remember input {
  float:left;
  margin-right: 10px;
}

form#form-login ul {
  margin: 0;
  padding: 0;
}

form#form-login ul li {
  list-style-type: none;
  margin-left: 20px;
  font-size: .9em;
}

fieldset.userdata {border: 0px;}
fieldset {
  background-color: #E6E2DE;
  }

.login-fields {
}
.profile dt, dd {
  margin-left: 14px;
}


  
/*einde login-formulier*/ 
/*//////////////////////////////////////////////*/
























/* Sectie- en categorieblog layout */

.cols-3 .column-1 {
    float: left;
    margin-right: 4%;
    padding: 0 5px;
    width: 29%;
}

.cols-3 .column-2 {
    float: left;
    margin-left: 0;
    padding: 0 5px;
    width: 29%;
}

.cols-3 .column-3 {
    float: right;
    padding: 0 5px;
    width: 29%;
}

/* Content titles */




/* TOP MENU */
#rob {
  margin-left: 222px;
  }

#rob > ul.menu {
  margin: 0;
  }

#rob > ul.menu > li {
  margin-top: 4px;
  padding-left: 0;
  padding-right: 10px;
  float: left;
  }

#rob > ul.menu > li > a  {
  font-size:100%;
  text-decoration: none;
  color: #03A0C5;
  font-weight: bold;
}

#rob > ul.menu > li > a:hover  {
  font-size:100%;
  text-decoration: none;
  color: #006699;
  font-weight: bold;
}

#rob > ul.menu > li.active > a  {
  font-size: 100%;
  text-decoration: none;
  color: orange;
  }

/* OPMAAK GEELTJE, SPREUK en HINT */

#geeltje {
  padding-top: 10px;
}

.geeltje {
  /*background-color:#F9F4CC;*/
  margin-top: 10px;
  padding: 8px;
  font-size: 90%;
  line-height: normal;
}

.geeltje p{
  line-height: normal;
}

.geeltje a {
font-size: 90%;
text-decoration: none;
color: #ED8F1F;
font-weight: bold;
line-height: normal;
}

.geeltje a:hover {
font-size: 90%;
font-weight: bold;
text-decoration: none;
color: #BD7824;
}

#spreuk {
  margin-top:15px;
}

#spreuk p {
  padding: 8px;  
}

.spreuk {
  margin-top:30px;
  padding:0px;
  font-size: 85%;
}

#hint {
  font-style:italic;
  font-size: 85%;
  background-color: #FFEC58;
}
#geeltje #hint {
  padding: 1px 10px;
}

/* OPMAAK FOOTER */

#footer {
padding-left: 97px;
}

#footer ul.menu > li {
margin-top:20px;
float: left;
padding-left: 3px;
}

#footer ul.menu > li > span  {
color: #9B9B9B;
font-size:85%;
}

#footer ul.menu > li > a  {
text-decoration: none;
color: #9B9B9B;
font-size:85%;
}

#footer ul.menu > li > a:hover  {
text-decoration: none;
color: #ED8F1F;
}

#footer ul.menu > li#item-335 > a:hover  {
text-decoration: none;
color: #03A0C5;
}

/* 
ALLES BINNEN DE DIV EDU
________________________________________________________ 
*/
.edu {
  background-color: #F4F4F4;
  padding: 0px 2px;
}

.edu p,
.edu blockquote { /* zet deze weer terug naar default */
  margin: 1.12em 0;
}

.edu blockquote { 
  margin-left: 20px;
  border: 1px dotted #006699;
}

.edu h1 { /* gelijk aan de h2 */
  font-size: 18px;
  color: #898071;
  padding: 5px 0px 5px 0px;
  font-weight: bold;
  text-transform: none;
}

.edu strong { /* zet deze weer terug naar default */
  font-weight: bolder;
}

.edu a { 
  color: #006699;
  text-decoration: none; 
}

.edu a:hover {  
  color: #898071; 
}

.edu table { 
  margin-left: 20px;
}

.edu span.spanclass {
  color: red;
}

.edu li {
   line-height: 18px;/* zet deze weer terug naar p */
}

.edu table.tabeloverzicht { 
  margin-left: 0;
  margin-bottom: 20px;
}

.edu table.tabeloverzicht td { 
  border: 1px dotted #006699;
  vertical-align: text-top;
  padding: 2px;
}

.edu table.tabeloverzicht h1 {
  font-size: 13px;
  color: #898071;
  font-weight: bold;
  text-transform: none;
}

.edu td h1.datumoverzicht {
  font-size: 18px;
}

.edu table.tabeloverzicht td.tabletop {
  margin: 0;
  padding: 0;
  border: 0;
}
.edu td#tablelinks p {
  margin: 5px 0;
}

.edu tr.regelkop_1 {
  background-color: #DEF0FB;
}

#mainbody ul {
  margin: -10px 0 -10px 5px;
  }

#mainbody li ul {
	list-style-type: disc;
  }

/* 
DIVERSEN
________________________________________________________ 
*/

#lettergrootte {
  float: right;
  }

/*artikel*/
.article-info-term {
  display: none;
  }

.published,
.category-name,
.createdby {
  text-align: right;
  font-size: 0.9em;
  font-style: italic;
  }

.category-name,
.createdby {
  display: none;
  }

.published {
  margin-top: 15px;
  }

/*navigatie tussen bladzijden van een artikel*/
.pagination-start,
.pagination .pagination-prev span,
.pagination .pagination-next span,
.pagination-end {
  display: none;
  }

.pagination,
.pagenavcounter {
  font-size: 0.9em;
  font-style: italic;  
  }

.pagenavcounter {
  text-align: right;
  }

/*navigatie tussen artikelen binnen catergorie*/
ul.pagenav li {
  display:inline;
  }

ul.pagenav {
  margin-top: 10px !important;
  }

/*nieuwsflash*/
.module_blog {
  padding: 10px 5px 10px 10px;
  background-color: #F1FAFB;
  border: 1px solid #D4A017;
  }

.newsflash_blog p {
  font-size: 90%;
  line-height: normal;
  margin: 0;
  text-align: justify;
  }

.module_blog h3 {
  margin-bottom: 10px;
  }

.module_blog h3 a {
  color: #898071;
  }

.module_blog h3 a:hover {
  color: #BD7824;
  }

h4.newsflash-title_blog { }
.newsflash_blog a.readmore {
  display: block;
  margin-bottom: 15px;
  font-size: 90%;
  }

/*bolletjes*/
.international {
  background-image: url("../images/globe.png");
  background-repeat: no-repeat;
  padding-left: 30px !important;
  }

.dutch {
  background-image: url("../images/nl.gif");
  background-repeat: no-repeat;
  padding-left: 30px !important;
  }

/*login en download*/
div.pdtop, div.pd-cb + div {
  display: none;
}

div.login + div {
  display: none;
}

.login-fields {
  position: relative;
  height: 30px;
}

.login-fields input {
  position: absolute;
  left: 150px;
  width: 220px;
  max-width: 220px;
}

.login-fields input:focus {
  background-color: #FFFFDE;
}

div.login form button.button, div.logout form button.button {
  width: 80px;
  padding: 5px;
  background-color: #F7DA94;
  border-color: #F7DA94;
  border-radius: 6px;
  box-shadow: 1px 1px 2px 2px #999999;
  font-size: 1em;
  color: #333333;
}

div.login form button.button:hover, div.logout form button.button:hover {
  border-color: orange;
}

/*new ivm udja*/
.item-separator {
  display: none;
  }

.items-leading, .item {
  border-bottom: 1px dotted black;
  margin-bottom: 10px;
  }

/*udja comments*/
fieldset.commentFields {
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}

p.textboxWrapper, p.textareaWrapper, p.submitButtonWrapper {
  margin: 3px 0;
}

div.recaptchaWrapper {
  margin: 0;
}

.textboxWrapper label, 
.textareaWrapper label {
  float: left;
  width: 200px;
  margin: 0;
}

.textboxWrapper input,
.textarea  {
  width: 243px !important;
  padding: 0;
  margin: 0;
  border: 1px solid #808080;
}

.textareaWrapper textarea {
  min-height: 120px;
}
.textboxWrapper input:focus, .textareaWrapper textarea:focus {
  background-color: #FFFFDE;
}

#btnUdjaSubmit {
  border: 1px solid #808080;
  width: 120px;
  padding: 5px;
  background-color: #F7DA94;
  border-color: #F7DA94;
  border-radius: 6px;
  box-shadow: 1px 1px 2px 2px #999999;
  font-size: 1em;
  color: #333333;
  margin-top: 5px;
  margin-left: 200px;
}

div#udjaCommentsWrapper ul.parentLayer {
  padding-top: 15px;
  padding-bottom: 15px;
  list-style: none;
  padding-right: 15px;
}

div#udjaCommentsWrapper ul.parentLayer li {
  font-size: 1.1em;
  list-style: none;
  border: none;
}

div#udjaCommentsWrapper ul.parentLayer li div.commentDetails {
  padding: 7px;
  border-radius: 7px;
  margin-bottom: 15px;
}

div#udjaCommentsWrapper ul.parentLayer li.even > div.commentDetails { background-color: #E9E8D0; }
div#udjaCommentsWrapper ul.parentLayer li.odd > div.commentDetails { background-color: #F3F0EC; }

div#udjaCommentsWrapper ul.parentLayer li div.commentDetails img.commentAvatar {
  float: left;
  width: 40px;
  height: 40px;
  margin: 7px;
  border: 2px solid #CCCCCC;
  background-color: #FFFFFF;
}

div#udjaCommentsWrapper ul.parentLayer li div.commentDetails p {
  margin: 0px;
}

div#udjaCommentsWrapper ul.parentLayer li div.commentDetails p.commentContent {
  clear: both;
  padding-left: 7px;
  padding-right: 7px;
}

div#udjaCommentsWrapper ul.parentLayer li div.commentDetails p.commentReply {
  text-align: right;
  clear: both;
  padding-left: 7px;
  padding-right: 7px;
}

div#udjaCommentsWrapper ul.parentLayer li ul.childLayer {
  border-left: 3px solid #DEDEDE;
  padding-left: 15px;
  list-style: none;
}

div#udjaCommentsWrapper ul.parentLayer li ul.childLayer li {
  font-size: 1em;
}

div#udjaCommentsWrapper ul.parentLayer li ul.childLayer li div.commentDetails {
  border: none;
}

div#udjaCommentsWrapper ul.commentPagination {
  padding: 7px;
  border-radius: 5px;
  background-color: #EFEFEF;
  font-size: 1.1em;
  color: #333333;
  list-style: none;
  text-align: center;
}

div#udjaCommentsWrapper ul.commentPagination li {
  display: inline;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: bold;
}

div#udjaCommentsWrapper ul.commentPagination li.prev {
  float: left;
  width: 100px;
  text-align: left;
}

div#udjaCommentsWrapper ul.commentPagination li.next {
  float: right;
  width: 100px;
  text-align: right;
}

div#udjaCommentsWrapper ul.commentPagination li a {
  font-weight: normal;
}

.commentDate {
  text-align: right;
  font-size: 0.8em;
  font-style: italic;
}

.commentName {
  font-weight: bold;
}

.commentContent {
  font-size: 0.9em;
}

#phocaguestbook .pgcontent p,
#phocaguestbook .pgcontentbottom {
  margin: 0;  
}

.pagination .pginline select {
padding: 2px;
}
