.header {  font-family: Garamond; font-size: 30pt; font-style: italic; color: #336699}
.subheader {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 12pt; font-weight: bold; color: #336699}
TD {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 12pt; color: #336699; }
A {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 12pt; color: steelblue; }