---
layout: bdefault
---
<div class="layout-a">
  <div class="layout-a_region-2">
    <div class="layout-a_slot-2">
      <aside>
        {% include byline.html %}
        {% include bio.html %}

<!-- site search engine -->
<script type="text/javascript">

// Google Internal Site Search script- By JavaScriptKit.com (http://www.javascriptkit.com)
// For this and over 400+ free scripts, visit JavaScript Kit- http://www.javascriptkit.com/
// This notice must stay intact for use

//Enter domain of site to search.
var domainroot="pageconsulting.co.uk"

function Gsitesearch(curobj){
curobj.q.value="site:"+domainroot+" "+curobj.qfront.value
}

</script>

<div class="search_form">
<form action="http://www.google.com/search" method="get" onSubmit="Gsitesearch(this)">
<p>
<input name="q" type="hidden" />
<input class="search" name="qfront" id="txtSearch" type="text" placeholder="Search website" /> 
</p>
</form>
</div>
        {% include follow.html %}
        
      </aside>
    </div>
  </div>
  <div class="layout-a_region-1">
    {{ content }}
  </div>
</div>