BODY {
	BACKGROUND: #ffffff; COLOR: #000000
}
A:link {
	COLOR: #990033; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #003366; TEXT-DECORATION: underline
}
A:active {
	COLOR: #666666; TEXT-DECORATION: underline
}
A:hover {
	BACKGROUND-COLOR: #ffff99
}
H2 {
	FONT-SIZE: 1em; COLOR: #003366; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.h2table {
	FONT-WEIGHT: bold; FONT-SIZE: 1.25em; COLOR: #003366; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
H3 {
	FONT-SIZE: 0.8em; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.greysubhead {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; COLOR: #666666; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.greysubheadtable {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: #666666; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.blackhead {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.blackheadtable {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.nav {
	FONT-SIZE: 0.8em; COLOR: #003366; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.smallnav {
	FONT-SIZE: 0.7em; BACKGROUND: #ffffff; COLOR: #003366; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.address {
	FONT-SIZE: 0.8em; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.smallfont {
	FONT-SIZE: 0.8em
}
.smallfontsan {
	FONT-SIZE: 0.7em; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.smallfontsanred {
	FONT-SIZE: 0.7em; COLOR: #990033; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.smallcapsbold {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; TEXT-TRANSFORM: uppercase
}
.pullquote {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 0.7em; BACKGROUND: #ebebeb; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.pullquotebio {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 0.7em; BACKGROUND: #ebebeb; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.army {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 0.7em; BACKGROUND: #ebebeb; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.homegrey {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 0.8em; BACKGROUND: #ebebeb; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.homegreybox {
	BORDER-RIGHT: #ebebeb thin solid; BORDER-TOP: #ebebeb thin solid; FONT-SIZE: 0.8em; BACKGROUND: #ffffff; BORDER-LEFT: #ebebeb thin solid; BORDER-BOTTOM: #ebebeb thin solid; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.homebluebox {
	BORDER-RIGHT: #6699cc thin solid; BORDER-TOP: #6699cc thin solid; FONT-SIZE: 0.8em; BACKGROUND: #ffffff; BORDER-LEFT: #6699cc thin solid; BORDER-BOTTOM: #6699cc thin solid; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
UL {
	LIST-STYLE-POSITION: outside; LIST-STYLE-TYPE: disc
}
.greybox {
	BORDER-RIGHT: #cccccc thin solid; BORDER-TOP: #cccccc thin solid; FONT-SIZE: 0.8em; BACKGROUND: #ffffff; BORDER-LEFT: #cccccc thin solid; BORDER-BOTTOM: #cccccc thin solid; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.redbox {
	BORDER-RIGHT: #990033 1px solid; BORDER-TOP: #990033 1px solid; FONT-SIZE: 0.8em; BACKGROUND: #ffffff; BORDER-LEFT: #990033 1px solid; BORDER-BOTTOM: #990033 1px solid; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.redboxsmall {
	BORDER-RIGHT: #990033 1px solid; BORDER-TOP: #990033 1px solid; FONT-SIZE: 0.7em; BACKGROUND: #ffffff; BORDER-LEFT: #990033 1px solid; BORDER-BOTTOM: #990033 1px solid; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.redboxsmall2 {
	BORDER-RIGHT: #990033 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #990033 1px solid; PADDING-LEFT: 7px; FONT-SIZE: 0.7em; BACKGROUND: #ffffff; PADDING-BOTTOM: 7px; MARGIN: 5px; BORDER-LEFT: #990033 1px solid; PADDING-TOP: 7px; BORDER-BOTTOM: #990033 1px solid; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.articlebox {
	BORDER-RIGHT: #cccccc thin solid; PADDING-RIGHT: 7px; BORDER-TOP: #cccccc thin solid; PADDING-LEFT: 7px; FONT-SIZE: 0.7em; BACKGROUND: #ffffff; PADDING-BOTTOM: 7px; MARGIN: 5px; BORDER-LEFT: #cccccc thin solid; PADDING-TOP: 7px; BORDER-BOTTOM: #cccccc thin solid; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.copyright {
	BORDER-RIGHT: #990033 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #990033 1px solid; PADDING-LEFT: 5px; BACKGROUND: #ebebeb; PADDING-BOTTOM: 5px; BORDER-LEFT: #990033 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #990033 1px solid
}
.permissions {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 0.8em; BACKGROUND: #ffffff; BORDER-BOTTOM-WIDTH: 1px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BORDER-RIGHT-WIDTH: 1px
}
