BODY {
	FONT-FAMILY: Verdana, Arial, sans-serif
}
P {
	FONT-FAMILY: Verdana, Arial, sans-serif
}
UL {
	FONT-FAMILY: Verdana, Arial, sans-serif
}
OL {
	FONT-FAMILY: Verdana, Arial, sans-serif
}
LI {
	FONT-FAMILY: Verdana, Arial, sans-serif
}
TH {
	FONT-FAMILY: Verdana, Arial, sans-serif
}
TD {
	FONT-FAMILY: Verdana, Arial, sans-serif
}
